<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="logo"><img src="../../assets/img/logo.png" alt=""></div>
            <h1>American Food</h1>
            <h3>The Best Taste Food</h3>
            <div class="social-icon">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
            <h2>yourwebsite.com</h2>
        </div>
    </div>
</footer>