<section class="about">
    <div class="container">
        <div class="row title-row">
            <h1>ABOUT US</h1>
            <p>
                Lorem Ipsum available, but the majority have suffered alteration <br>
                in some form by injected humour
            </p>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="about-content">
                    <h1>Let food be thy medicine <br> medicine be thy food.</h1>
                    <p>
                        Lorem Ipsum available, but the majority have suffered <br>
                        alteration in some form by injected humour randomise <br> 
                        words which don't look even slightly believable. If you <br>
                        are going to use a passage <br> <br>
                        Lorem Ipsum, you need to be sure there isn't anything <br>
                        embarrassing hidden in the middle of text.
                    </p>
                    <p></p>
                    <div class="about-btns">
                        <a href="" class="btn btn1">ORDER NOW</a>
                        <a href="" class="btn btn2"><i class="fa-solid fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="video">
                    <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/vxGc_WqvP2g?si=DUIH8weTOsegAdkw" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; 
                    autoplay; clipboard-write; encrypted-media; 
                    gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="video">
                    <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/vxGc_WqvP2g?si=DUIH8weTOsegAdkw" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; 
                    autoplay; clipboard-write; encrypted-media; 
                    gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="about-content">
                    <h1>Let food be thy medicine <br> medicine be thy food.</h1>
                    <p>
                        Lorem Ipsum available, but the majority have suffered <br>
                        alteration in some form by injected humour randomise <br> 
                        words which don't look even slightly believable. If you <br>
                        are going to use a passage <br> <br>
                        Lorem Ipsum, you need to be sure there isn't anything <br>
                        embarrassing hidden in the middle of text.
                    </p>
                    <p></p>
                    <div class="about-btns">
                        <a href="" class="btn btn1">ORDER NOW</a>
                        <a href="" class="btn btn2"><i class="fa-solid fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
