<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1>American Food</h1>
            <h2>The Best Taste Food</h2>
           
            <div class="hero-line"></div>
            <br>
            <p>
                Lorem Ipsum available, but the majority have <br>
                suffered alteration in some form, by injected <br>
                humour, or randomised words
            </p>
            <div class="hero-btns">
                <a href="" class="btn btn1">ORDER NOW</a>
                <a href="" class="btn btn2"><i class="fa-solid fa-arrow-left"></i></a>
            </div>
        </div>
    </div>
</section>
