<section class="pricing">
    <div class="container">
        <div class="row title-row">
            <h1>PRICING</h1>
            <p>
                Lorem Ipsum available, but the majority have suffered alteration <br>
                in some form by injected humour
            </p>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4 col-sm-6">
                <div class="pricing-card">
                    <div class="top-text">
                        <h3>Basic</h3>
                        <h1>$35</h1>
                    </div>
                    <div class="low-text">
                        <p>6 Pis Chiken</p>
                        <p>3 Pis Beef Chiken</p>
                        <p>2 Pis Burger</p>
                        <div class="service-btns">
                            <a href="" class="btn btn1">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-sm-6">
                <div class="pricing-card">
                    <div class="top-text">
                        <h3>Standert</h3>
                        <h1>$50</h1>
                    </div>
                    <div class="low-text">
                        <p>6 Pis Chiken</p>
                        <p>3 Pis Beef Chiken</p>
                        <p>2 Pis Burger</p>
                        <div class="service-btns">
                            <a href="" class="btn btn1">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-sm-6">
                <div class="pricing-card">
                    <div class="top-text">
                        <h3>Premium</h3>
                        <h1>$45</h1>
                    </div>
                    <div class="low-text">
                        <p>6 Pis Chiken</p>
                        <p>3 Pis Beef Chiken</p>
                        <p>2 Pis Burger</p>
                        <div class="service-btns">
                            <a href="" class="btn btn1">BUY NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>