<section class="banner2">
    <div class="container">
        <div class="row">
            <div class="banner2-content">
                <h5>Special</h5>
                <h1>SALE 50% DISCOUNT</h1>
                <h3>ALL FOOD PRODUCTS</h3>
                <p>
                    Lorem Ipsum available, but the majority have suffered <br>
                    some form, by injected humour, or randomised words <br>
                    of Lorem Ipsum, you need to be sure.
                </p>
                <div class="banner2-btns">
                    <a href="" class="btn btn1">DISCOVER NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>