<section class="blog">
    <div class="container">
        <div class="row title-row">
            <h1>BLOG</h1>
            <p>
                Lorem Ipsum available, but the majority have suffered alteration <br>
                in some form by injected humour
            </p>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="text">
                        <h1>Eat food. Not too much mostly plants.</h1>
                        <p>Lorem Ipsum available, but the majority have 
                            suffered alteration some form, 
                            by injected humour randomised words.</p>
                        <div class="blog-btns">
                            <a href="" class="btn btn1">READ MORE</a>
                        </div>
                    </div>
                    <div class="img"><img src="../../assets/img/blog1.png" alt=""></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="text">
                        <h1>Eat food. Not too much mostly plants.</h1>
                        <p>Lorem Ipsum available, but the majority have 
                            suffered alteration some form, 
                            by injected humour randomised words.</p>
                        <div class="blog-btns">
                            <a href="" class="btn btn1">READ MORE</a>
                        </div>
                    </div>
                    <div class="img"><img src="../../assets/img/blog2.png" alt=""></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="text">
                        <h1>Eat food. Not too much mostly plants.</h1>
                        <p>Lorem Ipsum available, but the majority have 
                            suffered alteration some form, 
                            by injected humour randomised words.</p>
                        <div class="blog-btns">
                            <a href="" class="btn btn1">READ MORE</a>
                        </div>
                    </div>
                    <div class="img"><img src="../../assets/img/blog1.png" alt=""></div>
                </div>
            </div>
        </div>

    </div>
</section>
